In [1]:
import numpy as np

a = np.array([[0,1,10],[0,1,10]])
b = np.array([[100],[100]])

In [2]:
np.hstack((a,b))

array([[  0,   1,  10, 100],
       [  0,   1,  10, 100]])

In [3]:
np.concatenate([a,b],axis=1)

array([[  0,   1,  10, 100],
       [  0,   1,  10, 100]])

In [15]:
import pandas as pd

df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3'], 'b': ['b_1', 'b_2', 'b_3']})
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4'], 'c': ['c_1', 'c_2', 'c_4']})
df_ab
df_ac

     a    c
0  a_1  c_1
1  a_2  c_2
2  a_4  c_4

In [7]:
pd.merge(df_ab, df_ac, how='left')

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2
2  a_3  b_3  NaN

In [8]:
pd.merge(df_ab, df_ac)

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [13]:
pd.merge(df_ab, df_ac, how='inner', on='a')

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2